@{
    ViewData["Title"] = "Contact App";
    Layout = "~/Views/Shared/LayoutLanding.cshtml";
}

<div class="row">
  <div class="col-12 col-md-6">
      <h1 class="heroTitle">All your <span>Contacts</span>, All one location</h1>
      <div class="subTitle">
          From organizing events, to keeping everyone in the loop. 
          <br/>
          <br/>
          <strong>Built with care using cutting edge tech:</strong>
          <br/>
            <div class="d-flex align-items-center">
                <figure>
                    <img src="https://devicons.railway.app/i/dot-net.svg" class="imgicon" />
                    <figcaption>ASP.NET</figcaption>
                </figure>
                <figure>
                    <img src="https://devicons.railway.app/i/csharp.svg" class="imgicon" />
                    <figcaption>C#</figcaption>
                </figure>
                <figure>
                    <img src="https://devicons.railway.app/i/postgresql.svg" class="imgicon" />
                    <figcaption>Postgres</figcaption>
                </figure>
                <figure>
                    <img src="https://devicons.railway.app/i/bootstrap.svg" class="imgicon" />
                    <figcaption>Bootstrap</figcaption>
                </figure>
                <figure>
                    <img src="https://devicons.railway.app/i/railway-dark.svg" class="imgicon" />
                    <figcaption>Railway</figcaption>
                </figure>
            </div>
      </div>
  </div>
  <div class="col-12 col-md-6 order-first order-md-last d-flex">
      <img src="~/img/ContactPro.png" class="img-fluid mb-auto" />
  </div>
</div>
