@{
    ViewData["Title"] = "Contact App";
    Layout = "~/Views/Shared/LayoutLanding.cshtml";
}

<div class="row">
  <div class="col-12 col-md-6">
      <h1 class="heroTitle">All your <span>Contacts</span>, All one location</h1>
      <div class="subTitle">
          From organizing events, to keeping everyone in the loop. 
          <br/>
          <br/>
          <strong>Built with care using cutting edge tech:</strong>
          <br/>
          <i class="devicon-dot-net-plain-wordmark colored icon"></i>
          <i class="devicon-csharp-plain-wordmark colored icon"></i>
          <i class="devicon-postgresql-plain-wordmark colored icon"></i>
          <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
      </div>
  </div>
  <div class="col-12 col-md-6 order-first order-md-last d-flex">
      <img src="~/img/ContactPro.png" class="img-fluid mb-auto" />
  </div>
</div>
