:root {
   
   --jt-darker-color: #000000;
    --jt-lighter-light: #eeeeee;

     --jt-primary-color: #284D47;
    --jt-secondary-color: #965C4F;
    --jt-dark-color: #4e3029;
    --jt-light-color: #F5EEED;
    --jt-hightlight-color: #c3693e;

    --jt-font-title: 'Alumni Sans Pinstripe', sans-serif;
    --jt-font-body: 'Montserrat', sans-serif;
}


html,
body{
  height: 100%;
}



body {

  background-color: var(--jt-lighter-light);
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  color: var(--jt-darker-color);
  font-family: var(--jt-font-body);
  font-weight: 400;
  font-size: 1rem;
}

nav{
    background-color: var(--jt-dark-color);
    color: var(--jt-lighter-light) !important;
}

.nav-link{
    color: var(--jt-lighter-light);
}

.navShadow {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}


main{
    background-color: var(--jt-lighter-light);
}

.content{
    flex: 1 0 auto;
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
}

footer{
    flex-shrink: 0;
    background-color: var(--jt-dark-color);
}
/* Button Overrides */

.btn-outline-primary{
    color: var(--jt-darker-color);
    border-color: var(--jt-primary-color) !important;

}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
    border-color: var(--jt-secondary-color);
    background-color: var(--jt-primary-color);
}

.btn-primary{
    color: white !important;
    background-color: var(--jt-primary-color) !important;
    border-color: var(--jt-secondary-color);
}

.btn-primary:hover{
    filter: brightness(1.2) !important;
    border-color: var(--jt-primary-color);
}

.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus{
    filter: brightness(1.2) !important;
}

.btnLink{
    width: 7rem;
}

/*End Button Override*/

.socialicons{
    color: var(--jt-darker-color);
    opacity: 0.9;
    font-size: 2rem;
}

.socialicons:hover{
    color: var(--jt-primary-color) !important;
    opacity: 1;
}

.table{
  
    max-width: none;
    font-size: .8rem;
}

.copyright{
    font-size: .9rem;
}

/* Begin: Landing page*/
.icon{
    font-size: 4rem;
}

.textHighLight{
    color: var(--jt-primary-color);
}

.heroTitle{
    padding-top: 2.5rem;
    font-size: 3.1rem;
    text-transform: uppercase;
    font-family: var(--jt-font-title);
    font-weight: 600;
    margin-left: 3rem;
}

.subTitle{
    font-size: 1.5rem;
    font-family: var(--jt-font-body);
    margin-left: 3rem;
}

.imgicon {
    display: inline;
    height: 3.5rem;
    margin: 0rem .3rem;
}

figcaption {
    color: var(--jt-dark-color);
    font-size: 0.8rem;
    text-align: center;
}

/*End landing page*/


/* Square Image Css*/

.square-img-container{
    position: relative;
    background-color: var(--jt-light-color);
    border-color: gray;
    border-style: solid;
}

.square-img-container::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}


.square-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
/* End Square Image Css */